body{
    background-color: rgb(236, 233, 233);
}
main{
    width: 80%;
    margin: 0px auto;
    background-color: #FFF;
}

%button{
    padding: 0;
    margin: 0;
    color: #FFF; 
    outline: 0;
    border: 0;
    cursor: pointer;
}

.header-flex-wrapper{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
 
   .header-image{
       background-image: url("../images/awesome-jazz.jpg");
       background-repeat: no-repeat;
       background-size: 100%;
       height: 340px;
   } 
}

.nav-bar{
    width: 80%;
    margin: 0px auto;
    background-color: #FFF;
    display: flex;
    nav{
        
        ul{
            margin: 0px 0px 0px 20px;
            padding: 0;
           
            li{
                list-style-type: none;
                display: inline-block;
                cursor: pointer;
                padding: 15px;
                margin: 0px 7px 0px 7px;
                font-size: 1.2em;
            }
            li:hover{
                background-color: rgb(236, 233, 233);
            }
        }
    }
    .nav-bar{
        flex-basis: 70%;
    }
    .add-button{
        text-align: right;
        flex-basis: 30%;
        button{
            @extend %button;
            border-radius: 4px;
            padding: 10px;
            background-color: rgb(17, 158, 17);
            transition: all 400ms;
            margin-top: 7px;
            font-size: 1em;
       }
    }
}

.albums-wrapper{
    display: flex;
    flex-wrap: wrap;
    .album-wrapper{
        width: 33%;
        border: 1px solid black;
        text-align: center;
    }
   .cover-image{
       height: 260px;
        img{
            height: 100%;
            display: block;
            margin: 0px auto;
        }
    }
}