main{
    width: 70%;
    margin: 0px auto;
    background-color: #FFF;
}

.header-flex-wrapper{
   .header-image{
       height: 330px;
   } 
}

.nav-bar{
    width: 100%;
    margin: 0px auto; 
     .navigation{
        display: flex;
        width: 70%;
        margin: 0px auto;
     }
     .hamburger-icon{
         display: none;
     }
    nav{
        text-align: center; 
        ul{
            display: inline-flex;
            li{
                cursor: pointer;
            }
            li:hover{
                color: #EE708B;
            }
        }
    }
    .nav-bar{
        flex-basis: 75%;
    }
    .add-button{
        flex-basis: 25%;
        text-align: right;
       button:hover{
           color: #1F211F; 
       }
    }
}

.albums-wrapper{
    .album-wrapper{
        width: 20%;
    }
   .cover-image{
        img{
            height: 200px;
            width: 200px;
        }
    }
}

.artists-wrapper{  
    .artist-wrapper{
        width: 20%;
    }
   .cover-image{
        img{
            height: 200px;
            width: 200px;
        }
    }
}

.tracks-wrapper{ 
    margin-left: 20px; 
    .track-wrapper{
        margin-bottom: 10px; 
    }
   .cover-image{
        img{
            width: 75px;
            height: 75px;
        }
       
    }
    .track-info-wrapper{
        margin-top: 30px;
    }    
}

.playlists-wrapper{
    .playlist-wrapper{
        width: 20%;
    }
   .cover-image{
        img{
            height: 200px;
            width: 200px;
        }
    }
}

.forms-wrapper{
    .artist-form-wrapper, .album-form-wrapper, .playlist-form-wrapper{
        input{
            width: 40%;
        }
    }
}