body{
    background-color: rgb(236, 233, 233);
    margin: 0px;
    padding: 0px; 
    font-family: $mainFont;
    color: #1F211F; 
}
main{
    padding: 15px; 
    background-color: #FFF;
}

h4{
    font-size: 0.95rem; 
    margin: 0px; 
}

h5{
    font-size: 0.85rem;
    margin: 0px; 
    color: $grey;
}

h6{
    font-size: 0.85rem;
    margin: 0px; 
    color: $grey;
}

.hidden{
    display: none;
}

li{
    list-style-type: none;
}


%delete-button{
    width: 90%;
    margin: 0px auto; 
    button{
        padding: 10px;
        border: none; 
        background-color: $lightBorderColor; 
        color: #8E2F3C; 
        font-weight: 700; 
        border-radius: 4px;
    }
}

%button{
    color: #FFF; 
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    background-color: $pink;
    transition: all 400ms;
    font-size: 1em;
    box-shadow: 3px 3px 2px 0px $lightPink;
    -webkit-box-shadow: 3px 3px 2px 0px $lightPink;
    -moz-box-shadow: 3px 3px 2px 0px $lightPink;
}

.header-flex-wrapper{
    @include flex();
    flex-direction: column-reverse;
    width: 100%;
 
   .header-image{
       background-image: url("../images/awesome-jazz.jpg");
       background-repeat: no-repeat;
       background-position: center; 
       background-size: 100%;
   }
}

.nav-bar{
    background-color: #ffffff;
    color: #1F211F;    
    border-bottom: 1px solid $grey; 
    font-family: 'Fjalla One', sans-serif;
    .hamburger-icon{
        img{
            width: 50px;
            height: 50px;
        }
    }
     .navigation{
         display: inline-block;
         text-align: left; 
         position: sticky;
         z-index: 1000;
         background-color: $lightBorderColor; 
         width: 50%; 
         height: 100vh;
         overflow-x: hidden;
         //overflow-y: scroll; 
     }
    nav{
        height: 100%; 
        text-align: right;
        button{
            @extend %button;
            margin-top: 7px;
        }
        button:active{
            color: #1F211F; 
        }
        ul{
            margin: 0px;
            padding: 0px;
        
            li{
                list-style-type: none;
                padding: 15px;
                margin: 0px 7px 0px 7px;
                font-size: 1.2em;
            }
            li:active{
                color: #EE708B;
            }
        }
    }
    .add-button{
        text-align: left; 
        padding: 20px; 
    }
}

.albums-wrapper{
    display: flex;
    flex-wrap: wrap;    
    .album-wrapper{
        width: 45%;
        text-align: center;
        margin: 0px auto; 
        margin-bottom: 20px; 

    }
   .cover-image{
        overflow: hidden; 
        img{
            height: 170px;
            width: 170px;
            border: 0.9px solid $lightBorderColor;
            border-radius: 0.2rem; 
            object-fit: cover;
        }
    }
}

%search-wrapper{
    text-align: center; 
    margin-bottom: 17px;
    input[type=text]{
        margin-top: 5px; 
        margin-left: 15px; 
        border: 0.9px solid #cacaca; 
        border-radius: 0.25rem;
        width: 50%;  
        background-color: #e9e9e9; 
        padding: 10px;
    }
    button, input[type=submit]{
        @extend %button;
        margin-left: 7px;
    }
}

.search-albums, .search-artists, .search-tracks, .search-playlist{
    @extend %search-wrapper;
}

.artists-wrapper{  
    @include flex();
    flex-wrap: wrap;    
    .artist-wrapper{
        width: 45%;
        text-align: center;
        margin: 0px auto; 
        margin-bottom: 20px; 

    }
   .cover-image{
        overflow: hidden; 
        img{
            height: 170px;
            width: 170px;
            border: 0.9px solid $lightBorderColor;
            border-radius: 0.2rem;
            object-fit: cover;
        }
    }
}

.tracks-wrapper{ 
    .track-wrapper{
        display: inline-flex; 
        text-align: left;
        width: 100%; 
        margin-bottom: 5px; 
    }
   .cover-image{
       overflow: hidden;
        img{
            width: 65px;
            height: 65px;
            border: 0.9px solid $lightBorderColor;
            border-radius: 0.2rem;
            object-fit: cover;
        }
       
    }
    .track-info-wrapper{
        display: inline-flex; 
        margin-top: 25px; 
        .track-title{
            h4{
                font-size: 0.8rem; 
                margin-left: 8px;
            }
        }
        .track-artist{
            h4{
                font-size: 0.8rem; 
                color:#A5A3A7;  
                margin-left: 8px;
            }
        }
        .add-to-playlist{
            margin-left: 5px; 
            button{
                background-color: $pink; 
                color: white;
                border-radius: 0.25rem; 
            }
        }
        .playlist-dropdown{
            background-color:#ffffff; 
            border: 1px solid $lightBorderColor;
            box-shadow: 0 2px 10px rgba(0,0,0,.1); 
            position: absolute; 
            z-index: 1;    
            h4{
                color: $pink; 
                font-size: 0.9rem; 
                margin-bottom: -15px; 
                padding: 5px; 
            }
            ul{
                margin-left: -40px; 
                width: 100%; 
                li{
                    font-size: 0.85rem; 
                    border-top: 1px solid #e5e5e5; 
                    padding: 5px; 
                    cursor: pointer;
                }
                li:hover{
                    background: #e5e5e5;
                }
            }
        }
    }
}

.playlists-wrapper{
    @include flex();
    flex-wrap: wrap;    
    .playlist-wrapper{
        width: 45%;
        text-align: center;
        margin: 0px auto; 
        margin-bottom: 20px; 

        .cover-image{
            overflow: hidden; 
            margin-bottom: -20px; 
            img{
                height: 170px;
                width: 170px;
                border: 0.9px solid $lightBorderColor;
                border-radius: 0.2rem;
                object-fit: cover;
            }
        }
        .playlist-wrap-info{
            margin: 0px auto; 
            width: 170px; 
            h4{
                background-color: $pink; 
                height: 20px; 
                color: $white;
                border-radius: 0.2rem; 
                position: sticky;
                z-index: 1; 
            }
            .playlist-creator{
                h5{
                    color: black; 
                }
            }
        }
    }
}

/*--INDIVIDUAL WRAPPERS---*/

/*--albums--*/
.individual-albums-wrapper{
    .individual-flex-wrapper{
        @include flex();
        .cover-image{
            overflow: hidden; 
            margin-bottom: 10px; 
            img{
                height: 170px;
                width: 170px;
                border: 0.9px solid $lightBorderColor;
                border-radius: 0.2rem;
                object-fit: cover;
            }
        }
        .album-info{
            margin-left: 10px;
            h5{
                color: #EE708B; 
            } 
           
        }
    }
    .add-track-form{
        border-top: 1px solid $mediumBorderColor; 
        border-bottom: 1px solid $mediumBorderColor;  
        margin-top: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        label{
            font-size: 0.9rem; 
            color: $pink; 
        }
        input{
            width: 60%; 
        }
        button{
            @extend %button;
            padding: 5px;
        }
    }
    .album-tracks{
        li{
        margin-left: -40px; 
        margin-top: 10px; 
        height: 30px; 
        border-bottom: 1px solid $mediumBorderColor; 
        font-size: 0.85rem; 
        }
        button{
            float: right; 
            background-color: $grey;
            color: $white; 
            border-radius: 0.25rem; 
            border: 0;
            outline: 0;
            padding: 5px;
            margin-top: -4px;
        }
    }

    .album-delete-button{
        button:hover{
            background-color: #8E2F3C; 
            color: $white; 
        }
      button{
        @extend %delete-button;
      }
    }
}

.playlist-rating-form{
    h6{
        font-family: 'Fjalla One', sans-serif;
        margin-top: 10px; 
        color: black; 
        font-weight: 400; 
    }
    input#playlistRatingControl{
        width: 110%; 
    }
}



/*--artists--*/
.individual-artists-wrapper{
    .cover-image{
        height: 300px;
        width: 300px;
         img{
             height: 100%;
         }
     }
}

/*--playlists--*/
.individual-playlist-wrapper{
    .individual-playlist-flex-wrapper{
        @include flex();
        .cover-image{
            overflow: hidden; 
            margin-bottom: 10px; 
            img{
                height: 170px;
                width: 170px;
                border: 0.9px solid $lightBorderColor;
                border-radius: 0.2rem;
                object-fit: cover;
            }
        }
        .playlist-info{
            margin-left: 10px;
            h4{
                font-size: 1.25rem; 
            }
            h5{
                color: #EE708B; 
            } 
        }
    }
    .playlist-tracks{
        li{
        margin-top: 10px; 
        height: 30px; 
        border-bottom: 1px solid $mediumBorderColor; 
        font-size: 0.85rem; 
        }
        button{
            float: right; 
            background-color: $grey;
            color: $white; 
            border-radius: 0.25rem; 
        }
    }

    .playlist-delete-button{
        @extend %delete-button;
    }
}

%form-wrappers{
    text-align: center;
    input{
        width: 80%;
        padding: 10px;
        margin-bottom: 10px;
        text-align: left;
        background-color: #e9e9e9;
        border: 0.9px solid #cacaca;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-family: 'Roboto Condensed';
        font-size: 1em;
    }
    input[type=date]{
        text-transform: uppercase;
    }
    label{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    button{
        @extend %button;
        margin-bottom: 20px;
        padding-right: 15px;
        padding-left: 15px;
    }
    button:active, button:hover{
        color: #1F211F; 
    }

}

.forms-wrapper{
    .artist-form-wrapper{
        @extend %form-wrappers;
      
    }
    .album-form-wrapper{
        @extend %form-wrappers;
    }
    .playlist-form-wrapper{
        @extend %form-wrappers;
    }
}

.error-message{
    color: rgb(173, 4, 4);
    font-weight: 700;
    font-size: 1.1em;
}